/* .md-typeset p > code {
    color: black;
    background-color: whitesmoke;
}
.md-typeset code {
    color: whitesmoke;
    background-color: black;
}
*/

/* font size for leftside nav */
/*
 .md-nav {
    font-size: .75rem;
    line-height: 1.3;
}
*/ 

/* aligns leftside nav to left edge of page*/
.md-grid {
    max-width: initial;
}

/* background color of active nav item  */
li .md-nav__item--active {
    background-color: #e0e0e0;
}

/* font color and weight of active nav item */
.md-nav__item .md-nav__link--active {
    color: #161616;
    font-weight: 600;
}
